
.experience_wrapper{
    width: var(--bodywidth);
    margin: auto;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience_wrapper h1{
    color: var(--navcolor);
    font-size: 2.5rem;
    font-family: var(--header-font);
    letter-spacing: var(--spacing);
    text-align: center;
    margin-bottom: 10px;
}

.experience_bar{
    height: 5px;
    width: 100px;
    /* margin-top: 15px; */
    margin: auto;
    background-color: #2caeba;
}

.exp_detail_container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.exp_right{
    width: 100%;
}


.company_info{
    background-color: #dae2ec;
    width: 14%;
    text-align: center;
    color: #617d98;
    font-weight: 700;
     text-transform: capitalize;
     letter-spacing: var(--spacing);
     margin: 15px 0;
     border-radius: 3px;
}
.date{
    color:#324d67;
    letter-spacing: var(--spacing);
    font-size: larger;
}

.exp_right h2{
    font-size: x-large;
    color: var(--navcolor);
    letter-spacing: var(--spacing);
    font-family: var(--header-font);
    
}
.exp_left{
    width:20%;
    letter-spacing: var(--spacing);
    font-size: larger;
    cursor: pointer;
   
    }
.exp_btn{
    border: none;
    outline: none;
    background-color: white;
    /* color: var(--logo_color); */
    font-family: var(--header-font);
    text-transform: capitalize;
    font-size: large;
   font-weight: 400;
    letter-spacing: var(--spacing);
}

.active_btn  {
     border-left: 2px solid var(--logo_color);
  }

.active_btn button{
     color: var(--logo_color);
}
.exp_btn {
    text-transform: uppercase;
}
.company{
    margin-bottom: 35px;
    
    font-family: var(--header-font);
    color: var(--navcolor);

    padding-left: 45px;
    transition: var(--transition);
    height: 30px;
    display: flex;
    align-items: center;
}

.company:hover{
    border-left: 2px solid var(--logo_color);
    color: var(--logo_color);
}

.job_detail {

display: flex;
margin-top: 20px;
margin-bottom: 40px;
color: var(--navcolor);
font-size: 1.2rem;
}
.jobicons{
    color: var(--logo_color);
    margin-right: 20px;
}

.company_info{
    text-transform:uppercase;
    padding: 3px 15px;
}

.moreinfo_btn{
    display: flex;
    justify-content: center;
    

}

.moreinfo_btn button{
    padding: 7px 50px;
    background-color: #2caeba;
    margin-right: 90px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #bff8fd;
    font-family:var(--header-font);
    outline: none;
    border: 2px solid transparent;
    letter-spacing: var(--spacing);
    font-weight: 700;
    cursor: pointer;
}


@media(max-width:1190px){
    .exp_left{
        width: 30%;
    }
    .company_info{
        width: 120px;
    }
}

@media(max-width:930px){
    .experience_wrapper{
        width: 90%;
    }
    .exp_detail_container{
        flex-direction: column;
    }
    .exp_left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .active_btn  {
    
        border-left: none;
         border-bottom: 2px solid var(--logo_color); 
      
    }
    .company{
        
        padding: 15px 0;
        margin-right: 20px;
    }

    .company:hover{
        border-left: none;
        border-bottom:2px solid var(--logo_color) ;
    }
    
    .moreinfo_btn button
    {
        margin-right: 0;
    }
    .experience_wrapper h1{
        font-size: 2.0rem;
    }
    .exp_right h2{
        font-size: large;
    }
    .job_detail{
        font-size: 1.0rem;
    }
    .date{
        font-size: 1.0rem;
    }
    .company button{
        font-size: medium;
        

    }
    .exp_left{
        font-size: medium;
    }
}