
.home_wrapper{
   
    display: flex;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
}
.home_left_section{
  
    width: 60%;
    z-index: 1;
    background-color: var(--main-color);

}
.home_right_section{
    z-index: 2;
    width: 40%;
}
.home_info{
   
    height: 100%;
    width: 78%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
}

.info_title h1{
    font-size:4rem;
    font-family: var(--header-font);
    letter-spacing: var(--spacing);
    color: var(--navcolor);
    
}
.info_bar{
    border-top: 5px solid var(--logo_color);
}
.home_info p{
    font-family: var(--header-font);
    letter-spacing: var(--spacing);
    color: #617d98;
    font-weight: 600;
    margin-bottom: 30px;
}
.home_info button{
    /* margin-top: 1.2rem; */
    background-color: #2caeba;
    padding: 6px 16px;
    border-radius: 4px;
    color: #bff8fd;
    font-family:var(--header-font);
    outline: none;
    border: 2px solid transparent;
    letter-spacing: var(--spacing);
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 30px;
}

        /* Icons Styling */

       
        .social_icons{
            border-radius: 5px;
            
        }
        .hero_icons ul li{
            display: inline-block;
            font-size: 1.8rem;
            margin-right: 20px;
          
            
        }
        .hero_icons ul li a{
            color: var(--navcolor);
        }

    /* Hero Image Sectoin Styling */
    .home_hero_image{
        display: flex;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: transparent;
        justify-content: center;
        /* position: relative; */
        /* z-index: 1; */
        
    }

    .home_hero_image img {
        position: relative;
        right: 20%;
    }

    .home_body{
       
        width: 73.70%;
        margin: auto;
    }

    .service_section{
       
        /* height: 80vh; */
        background-color: var(--service_section_color);
    }

  

    /* Feature Project Styling */

    .feature_project_section{
        
        background-color: #f1f5f8;
    }

    @media(max-width:1008px){
        .home_hero_image img{
            right: 10%;
        }
    }
    @media(max-width:930px){
        .home_wrapper{
          height: 100%;
          justify-content: center;
          align-items: center;
        }
        .home_left_section ,.home_right_section{
            z-index: 0;
        }
        .info_title h1{
            font-size: 2.5rem;
        }
        /* .home_hero_image img{
         width: 100%;
         height: 100%;
        } */
        
        .home_right_section{
            height: 100%;
            /* height: 320px; */
        }
        .home_body{
            width: 90%;
        }
        .home_info{
            width: 100%;
            align-items: center;
            height: 250px;
        }
        .home_wrapper{
            flex-direction: column;
            /* justify-content: center; */
        }
        .home_left_section , .home_right_section{
            width: 100%;
            background-color: var(--main-color);
            margin: auto;
            display: flex;
            justify-content: center;
        }
        .home_left_section{
            height: 250px;
        }
        .home_hero_image{
            right: 0;
            width: 100%;
        }
        .home_hero_image img{
            width: 50%;
            height: 100%;
            /* object-fit: contain; */
            right: 0;
        }
    }

    @media(max-width:700px){
        .home_hero_image img{
            width: 70%;
            height: 100%;
            
        }
    }