
.service_container{
    padding: 80px 0;
}
.service_container h1{
    color: var(--navcolor);
    font-size: 2.5rem;
    font-family: var(--header-font);
    letter-spacing: var(--spacing);
    text-align: center;
    margin-bottom: 10px;
    /* border-bottom: 5px solid var(--logo_color); */
    
}
.service_bar{
    height: 5px;
    width: 9%;
    /* margin-top: 15px; */
    margin: auto;
    background-color: #2caeba;
}

.services_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.services_content{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 290px;
    padding: 50px 30px;
    border-radius: 2px;
    width: 330px;
    background-color: white;
    justify-content: space-between;
    transition: var(--transition);
}

.services_content:hover{
    background-color: var(--logo_color);
    color: #bff8fd;

}

.services_content:hover .title_underline{
    background-color: #bff8fd;
}

.services_content:hover .icon_section ,.service_desc {
    color:#bff8fd;
}

.services_content:hover .service_desc {
    color:#bff8fd;
}
.services_content:hover .title_section {
    color:#bff8fd;
}
.icon_section{
    font-size: xx-large;
    color: var(--navcolor);
}
.title_section{
    color: var(--navcolor);
    letter-spacing: var(--spacing);
    font-family: var(--header-font);
    /* font-weight:500; */
  
}
.title_section h5{
    margin-bottom: 10px;
}

.title_underline{
    height :2px;
    background-color:#2caeba ;
    width: 50px;
    margin: auto;
}

.service_desc{
    color:var(--textcolor);
    line-height: 0.6cm;
}